<ion-view view-title="Dashboard">
  <ion-content>
    <div class="row header">
      <div class="col">Year</div>
      <div class="col">Month</div>
      <div class="col">Budget</div>
      <div class="col">Actual</div>
      <div class="col"></div>
    </div>
    <div class="row" ng-repeat="data in ledger">
      <div class="col">{{data.year}}</div>
      <div class="col">{{data.name}}</div>
      <div class="col">{{data.budget}}</div>
      <div class="col">{{data.actual}}</div>
      <div class="col">
        <button class="button" ng-click="editMonth($index)">Edit</button>
      </div>
    </div>
  </ion-content>
</ion-view>
