<ion-view view-title="Account">
  <ion-content>

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Year
        </div>
        <select ng-model="yr">
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
          <option>2021</option>
          <option>2022</option>
          <option>2023</option>
          <option>2024</option>
          <option>2025</option>
          <option>2026</option>
        </select>
      </label>

    </div>
    <div class="list">

      <button class="button button-positive" style="width:100%" ng-click="addYear(yr)" ng-disabled="!yr">
        Submit
      </button>
      <div ng-if="error">{{error}}</div>

    </div>
  </ion-content>
</ion-view>
